@font-face {
    font-family: 'Benzin';
    src: url(fonts/benzin-semibold.ttf);
}
.background{
    position: fixed;
    height: 100%;
    left: 280px;
    z-index: 0;
    display: flex;
    top: 0;
}   

.grassbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.links {
    position: absolute;
    left:17.5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.links a{
    font-family: 'Benzin';
    font-size: 40px;
    color:rgb(41, 40, 34);
    padding : 13px 4px;
    text-decoration: none;
 text-shadow:
        0 0 12px rgb(253, 253, 251),
        0 0 24px rgb(253, 253, 251),
        -4px -4px 0 rgb(253, 253, 251),
         4px -4px 0 rgb(253, 253, 251),
        -4px  4px 0 rgb(253, 253, 251),
         4px  4px 0 rgb(253, 253, 251);
    transition: font-size 0.1s, transform 0.5s;
}
.links a:hover {
    font-size: 60px;
    transform: scale(1.1);
    position: relative;
    left: 5%;
}
.volume{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.volume img{
    width: 50px;
}
.volume img:hover{
    width: 55px;
    left: 50%;
    transition: 0.1s;
}